@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xg7i9');
  src:  url('../fonts/icomoon.eot?xg7i9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xg7i9') format('truetype'),
    url('../fonts/icomoon.woff?xg7i9') format('woff'),
    url('../fonts/icomoon.svg?xg7i9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-refresh:before {
  content: "\e900";
}
.icon-send:before {
  content: "\e901";
}
.icon-telegram:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-checked:before {
  content: "\e904";
}
.icon-copy:before {
  content: "\e905";
}
.icon-dotted:before {
  content: "\e906";
}
