@media (min-width: 1491px){
    .header__title {
        max-width: 560px;
        margin: 0 auto 15px;
    }
}
@media (min-width: 1560px){
    .header__title {
        max-width: 560px;
        margin: 0 auto 15px;
    }
}

@media (max-width: 1490px){
    .site{
        padding-right: 20px;
        padding-left: 20px;
    }
    .appeal-link{
        max-width: 100%;
        padding: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        position: static;
    }
    .appeal-link__arrow{
        margin-left: auto;
    }
    .site__nav{
        margin-left: -14px;
        position: relative;
        top: 6px;
        left: 0;
    }
    .site__header{
        padding-top: 20px;
    }
    .site__header-description{
        margin-bottom: 40px;
    }
}

@media (max-width: 1199px){
    .header{
        padding-top: 5px;
        display: block;
    }
    .header__left,
    .header__content{
        max-width: 100%;
    }
    .header__content{
        padding-top: 30px;
    }
    .mailing{
        display: block;
    }
    .mailing__item{
        max-width: 100%;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
    .mailing__nav-ob{
        max-width: initial;
        margin: 0 -20px 40px;
        display: none;
    }
    .mailing__nav{
        max-height: initial;
        padding: 0;
    }
    .mailing__nav-btn{
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
    .mailing__nav-btn:after{
        opacity: 0;
        visibility: hidden;
    }
    .mailing__nav-link{
        margin: 1px 0 0;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        text-align: left;
    }
    .mailing__nav-link--mobile{
        display: block;
    }
    .mailing__block{
        margin: 0 -20px;
    }
    .header__logo{
        max-width: 100px;
        -webkit-flex-basis: 100px;
            -ms-flex-preferred-size: 100px;
                flex-basis: 100px;
    }
    .sender__row{
        margin: 0 -21px;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        border: 1px solid rgba(114,120,133,.2);
    }
    .sender__col{
        padding: 20px;
        border: 1px solid rgba(114,120,133,.2);
    }
    .sender__col--1,
    .sender__col--2{
        max-width: 50%;
        -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
    }
}

@media (max-width: 991px){
    .helper__header{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .helper__header-left{
        max-width: initial;
        -webkit-box-flex: initial;
        -webkit-flex: initial;
           -moz-box-flex: initial;
            -ms-flex: initial;
                flex: initial;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
    }
    .helper__header-center{
        max-width: 100%;
        margin-bottom: 30px;
        padding: 0;
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
           -moz-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    .helper__header-right{
        max-width: initial;
        margin-left: auto;
        -webkit-box-flex: initial;
        -webkit-flex: initial;
           -moz-box-flex: initial;
            -ms-flex: initial;
                flex: initial;
    }
    .header__description{
        margin-bottom: 30px;
    }
    .sender__footer{
        display: block;
        text-align: center;
    }
    .sender__footer-right{
        margin-top: 20px;
        padding: 0;
        display: block;
    }
    .sender__date{
        margin: 0 auto 20px;
        text-align: left;
    }
}

@media (max-width: 767px){
    .site__header-title{
        font-size: 34px;
    }
    .helper__list{
        margin-right: -20px;
        margin-left: -20px;
    }
    .helper-item{
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
    .helper-item .helper-item{
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }
    .helper__time{
        margin-bottom: 8px;
        font-size: 12px;
    }
    .footer{
        padding: 40px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
           -moz-box-orient: vertical;
           -moz-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .services-list{
        width: 100%;
        max-width: 100%;
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        margin-bottom: 0;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .services-list__col{
        margin: 0 10px;
    }
    .services__picture{
        height: 60px;
        margin-bottom: 0;
        padding: 10px;
        line-height: 38px;
    }
    .services__desc{
        display: none;
    }
    .footer__telegram{
        margin: 0 auto 20px;
    }
    .form__btn{
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 575px){
    .helper__header-left,
    .helper__header-right{
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .form__header,
    .site__process{
        padding: 20px;
    }
    .form__header-action{
        display: block;
    }
    .form__header-action-input{
        width: 100%;
        margin: 0 0 20px;
    }
    .form__header-action-btn-copy{
        width: 100%;
    }
    .form__btn{
        width: 100%;
        display: block;
    }
    .helper__header-left{
        text-align: center;
    }
    .helper__header-right{
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .helper-item__header{
        padding-right: 15px;
        padding-left: 40px;
    }
    .helper-item__header-icon{
        left: 15px;
    }
    .helper-item__header-title{
        padding-right: 0;
        font-size: 16px;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        overflow: hidden;
    }
    .helper-item__content{
        font-size: 14px;
    }
    .helper-item__header-status{
        position: absolute;
        top: 4px;
        right: 10px;
    }
    .helper-item__header-status-checked{
        font-size: 16px;
    }
    .status-count{
        font-size: 14px;
    }
    .sender__col--1,
    .sender__col--2{
        max-width: 100%;
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
    }
}

@media (max-width: 420px){
    .appeal-link{
        font-size: 12px;
    }
    .appeal-link__logo{
        max-width: 28vw;
        margin-right: 12px;
        -webkit-flex-basis: 28vw;
            -ms-flex-preferred-size: 28vw;
                flex-basis: 28vw;
    }
    .appeal-link__arrow{
        display: none;
    }
    .mailing__block,
    .editor{
        padding: 16px;
    }
}